<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>barocert SDK Nodejs - Express Example.</title>
</head>

<body>
    <div id="content">
        <p class="heading1">barocert Nodejs SDK - Express Example.</p>
        <br />
        <fieldset class="fieldset1">
            <legend>카카오 본인인증 API</legend>
            <ul>
                <li><a href="KakaocertService/RequestIdentity">RequestIdentity</a> - 본인인증 요청</li>
                <li><a href="KakaocertService/GetIdentityStatus">GetIdentityStatus</a> - 본인인증 상태확인</li>
                <li><a href="KakaocertService/VerifyIdentity">VerifyIdentity</a> - 본인인증 검증</li>
            </ul>
        </fieldset>
        <br />
        <fieldset class="fieldset1">
            <legend>카카오 전자서명 API</legend>
            <ul>
                <li><a href="KakaocertService/RequestSign">RequestSign</a> - 전자서명 요청(단건)</li>
                <li><a href="KakaocertService/GetSignStatus">GetSignStatus</a> - 전자서명 상태확인(단건)</li>
                <li><a href="KakaocertService/VerifySign">VerifySign</a> - 전자서명 검증(단건)</li>
                <li><a href="KakaocertService/RequestMultiSign">RequestMultiSign</a> - 전자서명 요청(복수)</li>
                <li><a href="KakaocertService/GetMultiSignStatus">GetMultiSignStatus</a> - 전자서명 상태확인(복수)</li>
                <li><a href="KakaocertService/VerifyMultiSign">VerifyMultiSign</a> - 전자서명 검증(복수)</li>
            </ul>
        </fieldset>
        <br />
        <fieldset class="fieldset1">
            <legend>카카오 출금동의 API</legend>
            <ul>
                <li><a href="KakaocertService/RequestCMS">RequestCMS</a> - 출금동의 요청</li>
                <li><a href="KakaocertService/GetCMSStatus">GetCMSStatus</a> - 출금동의 상태확인</li>
                <li><a href="KakaocertService/VerifyCMS">VerifyCMS</a> - 출금동의 검증</li>
            </ul>
        </fieldset>
        <br />
        <fieldset class="fieldset1">
            <legend>카카오 간편로그인 API</legend>
            <ul>
                <li><a href="KakaocertService/VerifyLogin">VerifyLogin</a> - 간편로그인 검증</li>
            </ul>
        </fieldset>
        
        <br />
        <fieldset class="fieldset1">
            <legend>네이버 본인인증 API</legend>
            <ul>
                <li><a href="NavercertService/RequestIdentity">RequestIdentity</a> - 본인인증 요청</li>
                <li><a href="NavercertService/GetIdentityStatus">GetIdentityStatus</a> - 본인인증 상태확인</li>
                <li><a href="NavercertService/VerifyIdentity">VerifyIdentity</a> - 본인인증 검증</li>
            </ul>
        </fieldset>
        <br />
        <fieldset class="fieldset1">
            <legend>네이버 전자서명 API</legend>
            <ul>
                <li><a href="NavercertService/RequestSign">RequestSign</a> - 전자서명 요청(단건)</li>
                <li><a href="NavercertService/GetSignStatus">GetSignStatus</a> - 전자서명 상태확인(단건)</li>
                <li><a href="NavercertService/VerifySign">VerifySign</a> - 전자서명 검증(단건)</li>
                <li><a href="NavercertService/RequestMultiSign">RequestMultiSign</a> - 전자서명 요청(복수)</li>
                <li><a href="NavercertService/GetMultiSignStatus">GetMultiSignStatus</a> - 전자서명 상태확인(복수)</li>
                <li><a href="NavercertService/VerifyMultiSign">VerifyMultiSign</a> - 전자서명 검증(복수)</li>
            </ul>
        </fieldset>
        <br />
        <fieldset class="fieldset1">
            <legend>네이버 출금동의 API</legend>
            <ul>
                <li><a href="NavercertService/RequestCMS">RequestCMS</a> - 출금동의 요청</li>
                <li><a href="NavercertService/GetCMSStatus">GetCMSStatus</a> - 출금동의 상태확인</li>
                <li><a href="NavercertService/VerifyCMS">VerifyCMS</a> - 출금동의 검증</li>
            </ul>
        </fieldset>
        
        <br />
        <fieldset class="fieldset1">
            <legend>패스 본인인증 API</legend>
            <ul>
                <li><a href="PasscertService/RequestIdentity">RequestIdentity</a> - 본인인증 요청</li>
                <li><a href="PasscertService/GetIdentityStatus">GetIdentityStatus</a> - 본인인증 상태확인</li>
                <li><a href="PasscertService/VerifyIdentity">VerifyIdentity</a> - 본인인증 검증</li>
            </ul>
        </fieldset>
        <br />
        <fieldset class="fieldset1">
            <legend>패스 전자서명 API</legend>
            <ul>
                <li><a href="PasscertService/RequestSign">RequestSign</a> - 전자서명 요청(단건)</li>
                <li><a href="PasscertService/GetSignStatus">GetSignStatus</a> - 전자서명 상태확인(단건)</li>
                <li><a href="PasscertService/VerifySign">VerifySign</a> - 전자서명 검증(단건)</li>
            </ul>
        </fieldset>
        <br />
        <fieldset class="fieldset1">
            <legend>패스 출금동의 API</legend>
            <ul>
                <li><a href="PasscertService/RequestCMS">RequestCMS</a> - 출금동의 요청</li>
                <li><a href="PasscertService/GetCMSStatus">GetCMSStatus</a> - 출금동의 상태확인</li>
                <li><a href="PasscertService/VerifyCMS">VerifyCMS</a> - 출금동의 검증</li>
            </ul>
        </fieldset>
        <br />
        <fieldset class="fieldset1">
            <legend>패스 간편로그인 API</legend>
            <ul>
                <li><a href="PasscertService/RequestLogin">RequestLogin</a> - 간편로그인 요청</li>
                <li><a href="PasscertService/GetLoginStatus">GetLoginStatus</a> - 간편로그인 상태확인</li>
                <li><a href="PasscertService/VerifyLogin">VerifyLogin</a> - 간편로그인 검증</li>
            </ul>
        </fieldset>
    </div>
</body>

</html>